# Desativa a listagem de diretórios
Options -Indexes

RewriteEngine On

# Redireciona a raiz do site para a pasta public
RewriteRule ^$ public/ [L]

# Redireciona todas as outras requisições para a pasta public
RewriteRule ^(.*)$ public/$1 [L]